# Лабораторна робота №1. Використання бібліотек Pandas та Matplotlib

**Підгрупа №1** 

**Дані:** Дані знаходяться у файлі `Weather.csv`

## Завдання

1. Відкрити та зчитати файл з даними.
2. Визначити та вивести кількість записів та кількість полів у кожному записі.
3. Вивести 5 записів, починаючи з **М-ого** (число **М** – місяць народження студента, має бути визначено як змінна), та кожен **N-ий запис**, де число **N** визначається як:
   - **500 * М** для місяця з першого півріччя;
   - **300 * М** для місяця з другого півріччя.
4. Визначити та вивести тип полів кожного запису.
5. Замість поля `СЕТ` ввести нові текстові поля, що відповідають числу, місяцю та року. Місяць та число повинні бути записані у двоцифровому форматі.
6. Визначити та вивести:
   - **a.** Кількість днів із порожнім значенням поля `Events`;
   - **b.** День, у який середня вологість була мінімальною, а також швидкості вітру в цей день;
   - **c.** Місяці, коли середня температура від нуля до п’яти градусів.
7. Визначити та вивести:
   - **a.** Середню максимальну температуру по кожному дню за всі роки;
   - **b.** Кількість днів у кожному році з туманом.
8. Побудувати стовпчикову діаграму кількості `Events`.
9. Побудувати кругову діаграму напрямків вітру (сектор на діаграмі має відповідати одному з восьми напрямків – північний, південний, східний, західний та проміжні).
10. Побудувати на одному графіку (тип графіка обрати самостійно!):
    - **a.** Середню по кожному місяцю кожного року максимальну температуру;
    - **b.** Середню по кожному місяцю кожного року мінімальну точку роси.

---
## 1. Відкрити та зчитати файл з даними.
---

In [83]:
import pandas as pd
from pathlib import Path

file_path = Path('data') / 'Weather.csv'
weather_df = pd.read_csv(file_path)
weather_df.columns = weather_df.columns.str.lstrip() # .lstrip() видаляє пробіли на початку
weather_df.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-1-2,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-1-3,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-1-4,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-1-5,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

---
## 2. Визначити та вивести кількість записів та кількість полів у кожному записі.

---
##### DataFrame Dimensions with `.shape`

Метод **`df.shape`** повертає кортеж, що містить розміри DataFrame:

- **Перший елемент**: Кількість рядків (записів)
- **Другий елемент**: Кількість стовпців (полів)
---

In [84]:
num_records = weather_df.shape[0] # к-сть записів (рядків)
num_columns = weather_df.shape[1] # к-сть полів (стовців)

print(f'кількість записів: {num_records}')
print(f'кількість полів  : {num_columns}')

кількість записів: 6812
кількість полів  : 23

---
## 3. Вивести 5 записів
Вивести 5 записів, починаючи з **М-ого** (число **М** – місяць народження студента, має бути визначено як змінна), та кожен **N-ий запис**, де число **N** визначається як:
   - **500 * М** для місяця з першого півріччя;
   - **300 * М** для місяця з другого півріччя.

---
##### Позиційне зрізання з `df.iloc[start:stop:step]`

Синтаксис **`df.iloc[start:stop:step]`** дозволяє вибирати рядки з DataFrame за їх позиційними індексами

- **`start`**: Початковий індекс рядка (включно). Якщо не вказати, зріз починається з першого рядка.
- **`stop`**: Кінцевий індекс рядка (не включно). Якщо не вказати, зріз триває до кінця DataFrame.
- **`step`**: Крок зрізу, тобто інтервал між вибраними рядками. За замовчуванням дорівнює 1.

---

In [85]:
# виведення перших 5 записів, починаючи з M
M = 11
weather_df.iloc[M:].head(5)

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
11,1997-1-12,17.0,10.0,3.0,8.0,6.0,3.0,100.0,84.0,55.0,...,10.0,10.0,10.0,14,8,NaN,0.0,1.0,NaN,345
12,1997-1-13,15.0,9.0,4.0,9.0,4.0,-1.0,100.0,75.0,38.0,...,10.0,9.0,3.0,11,2,NaN,0.0,4.0,Fog,128
13,1997-1-14,11.0,6.0,0.0,4.0,2.0,0.0,100.0,81.0,50.0,...,10.0,9.0,1.0,14,2,NaN,0.0,4.0,NaN,35
14,1997-1-15,11.0,8.0,5.0,7.0,5.0,4.0,100.0,83.0,62.0,...,10.0,10.0,8.0,10,3,NaN,0.0,6.0,Rain,16
15,1997-1-16,12.0,9.0,6.0,8.0,7.0,6.0,100.0,89.0,72.0,...,10.0,10.0,10.0,24,5,NaN,0.0,6.0,NaN,63

In [86]:
# виведення кожного N-го запису
count_month_in_year = 12
if M <= count_month_in_year / 2:
    N = 500 * M
else:
    N = 300 * M

weather_df.iloc[::N]

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
3300,2006-5-21,28.0,20.0,13.0,7.0,4.0,-3.0,67.0,38.0,17.0,...,10.0,10.0,10.0,32,10,52.0,0.0,6.0,NaN,227
6600,2015-6-3,34.0,26.0,17.0,10.0,8.0,4.0,59.0,31.0,10.0,...,31.0,24.0,10.0,24,10,34.0,0.0,1.0,NaN,127

---
## 4. Визначити та вивести тип полів кожного запису.

---

**`df.dtypes`** — атрибут DataFrame з Pandas, що повертає типи даних кожного стовпця у вигляді Series:

- **Індекси**: назви стовпців.
- **Значення**: типи даних (наприклад, `int64`, `float64`, `object`).

---

In [87]:
weather_df.dtypes

CET                            object
Max TemperatureC              float64
Mean TemperatureC             float64
Min TemperatureC              float64
Dew PointC                    float64
MeanDew PointC                float64
Min DewpointC                 float64
Max Humidity                  float64
Mean Humidity                 float64
Min Humidity                  float64
Max Sea Level PressurehPa       int64
Mean Sea Level PressurehPa      int64
Min Sea Level PressurehPa       int64
Max VisibilityKm              float64
Mean VisibilityKm             float64
Min VisibilitykM              float64
Max Wind SpeedKm/h              int64
Mean Wind SpeedKm/h             int64
Max Gust SpeedKm/h            float64
Precipitationmm               float64
CloudCover                    float64
Events                         object
WindDirDegrees                  int64
dtype: object

---
## 5. Розбиття поля `СЕТ`
---
Замість поля `СЕТ` ввести нові текстові поля, що відповідають числу, місяцю та року. Місяць та число повинні бути записані у двоцифровому форматі.

In [88]:
weather_df[['year', 'month', 'day']] = weather_df['CET'].str.split('-', expand=True)

weather_df['CET'] = pd.to_datetime(weather_df['CET'])
weather_df['day_of_year'] = weather_df['CET'].dt.dayofyear
weather_df.drop(columns='CET', inplace=True)

weather_df['day'] = weather_df['day'].str.zfill(2)
weather_df['month'] = weather_df['month'].str.zfill(2)

new_order = ['year', 'month', 'day'] + [col for col in weather_df.columns if col not in ['year', 'month', 'day']]
weather_df = weather_df[new_order]
weather_df.head()

,year,month,day,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,...,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees,day_of_year
0,1997,01,01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,...,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229,1
1,1997,01,02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,...,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143,2
2,1997,01,03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,...,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256,3
3,1997,01,04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,...,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284,4
4,1997,01,05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,...,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2,5

---
## 6. Визначити та вивести:
   - **a.** Кількість днів із порожнім значенням поля `Events`;
   - **b.** День, у який середня вологість була мінімальною, а також швидкості вітру в цей день;
   - **c.** Місяці, коли середня температура від нуля до п’яти градусів.
---

- **a.** Кількість днів із порожнім значенням поля `Events`;
---

In [89]:
count_empty_events = weather_df['Events'].isna().sum()

print(f'кількість днів із порожнім значенням поля Events: {count_empty_events}')

кількість днів із порожнім значенням поля Events: 5014

---
- **b.** День, у який середня вологість була мінімальною, а також швидкості вітру в цей день;
- ---

In [90]:
min_humidity_rows = weather_df[weather_df['Mean Humidity'] == weather_df['Mean Humidity'].min()]

if len(min_humidity_rows) == 1:
    min_humidity_row = weather_df.loc[weather_df['Mean Humidity'].idxmin()]
    print(f'день, у який середня вологість була мінімальною {min_humidity_row['Mean Humidity']}:', end=' ')
    print(f'{min_humidity_row['day']}.{min_humidity_row['month']}.{min_humidity_row['year']}')
    print(f'швидкість вітру в цей день: {min_humidity_row['Mean Wind SpeedKm/h']}')
else:
    print('в датафреймі кілька днів з однаковою мінімальною вологістю, перелік цих днів:')
    for _, row in min_humidity_rows.iterrows():
        print(f'День: {row["day"]}.{row["month"]}.{row["year"]}, '
              f'Середня вологість: {row["Mean Humidity"]}, '
              f'Швидкість вітру: {row["Mean Wind SpeedKm/h"]}')

день, у який середня вологість була мінімальною 15.0: 06.08.2005
швидкість вітру в цей день: 10

---
- **c.** Місяці, коли середня температура від нуля до п’яти градусів.
---

In [91]:
weather_df_month = weather_df.groupby(['year', 'month'])['Mean TemperatureC'].mean().reset_index()
weather_df_month_fil = weather_df_month[(weather_df_month['Mean TemperatureC'] >= 0) & (weather_df_month['Mean TemperatureC'] <= 5)]

for _, row in weather_df_month_fil.iterrows():
    print(f'місяць: {row['month']}.{row['year']}, середнє температура: {round(row['Mean TemperatureC'], 2)}')

місяць: 12.1998, середнє температура: 4.45
місяць: 01.2000, середнє температура: 3.71
місяць: 12.2001, середнє температура: 2.1
місяць: 01.2004, середнє температура: 4.0
місяць: 01.2005, середнє температура: 4.16
місяць: 02.2005, середнє температура: 4.29
місяць: 01.2006, середнє температура: 4.42
місяць: 12.2007, середнє температура: 4.84
місяць: 01.2009, середнє температура: 4.58
місяць: 02.2012, середнє температура: 4.52

---
## 7. Визначити та вивести:
   - **a.** Середню максимальну температуру по кожному дню за всі роки;
   - **b.** Кількість днів у кожному році з туманом.
---
- **a.** Середню максимальну температуру по кожному дню за всі роки;
---

In [94]:
avr_maxT_days = weather_df.groupby(['day_of_year']).agg(
    Avr_max_T=('Max TemperatureC', 'mean')
).reset_index()

pd.set_option('display.max_rows', None)

display(avr_maxT_days)

     day_of_year  Avr_max_T
0              1   9.894737
1              2  10.833333
2              3  10.500000
3              4  11.000000
4              5  10.388889
5              6  11.222222
6              7   9.166667
7              8   9.777778
8              9   9.388889
9             10   9.166667
10            11  10.500000
11            12  10.500000
12            13   9.944444
13            14  10.166667
14            15   9.388889
15            16  10.222222
16            17  10.166667
17            18  10.166667
18            19  12.000000
19            20  11.666667
20            21  11.000000
21            22  10.666667
22            23  11.166667
23            24  11.388889
24            25  10.222222
25            26  10.222222
26            27  10.666667
27            28  12.111111
28            29  11.333333
29            30  11.888889
30            31  11.555556
31            32  11.157895
32            33  11.473684
33            34  11.736842
34            35  12.105263
35            36  12.894737
36            37  12.789474
37            38  11.736842
38            39  12.631579
39            40  11.842105
40            41  12.631579
41            42  12.368421
42            43  13.052632
43            44  13.789474
44            45  13.052632
45            46  12.789474
46            47  12.684211
47            48  12.684211
48            49  12.315789
49            50  13.210526
50            51  12.789474
51            52  13.052632
52            53  13.947368
53            54  13.500000
54            55  12.833333
55            56  13.333333
56            57  13.388889
57            58  13.888889
58            59  13.111111
59            60  13.777778
60            61  14.611111
61            62  13.833333
62            63  13.944444
63            64  14.055556
64            65  14.722222
65            66  15.888889
66            67  16.111111
67            68  16.611111
68            69  17.222222
69            70  17.111111
70            71  16.555556
71            72  16.944444
72            73  17.277778
73            74  18.111111
74            75  18.055556
75            76  17.666667
76            77  17.833333
77            78  17.333333
78            79  18.222222
79            80  17.722222
80            81  17.166667
81            82  16.888889
82            83  16.555556
83            84  15.611111
84            85  16.888889
85            86  16.222222
86            87  16.555556
87            88  16.500000
88            89  17.666667
89            90  18.611111
90            91  18.222222
91            92  17.833333
92            93  17.777778
93            94  18.944444
94            95  18.944444
95            96  19.444444
96            97  18.500000
97            98  18.500000
98            99  18.055556
99           100  18.277778
100          101  17.611111
101          102  18.111111
102          103  19.055556
103          104  18.833333
104          105  18.111111
105          106  18.444444
106          107  18.888889
107          108  18.833333
108          109  18.055556
109          110  18.666667
110          111  19.611111
111          112  19.500000
112          113  20.444444
113          114  21.722222
114          115  21.333333
115          116  20.666667
116          117  21.388889
117          118  21.777778
118          119  20.222222
119          120  19.444444
120          121  19.388889
121          122  19.777778
122          123  19.888889
123          124  21.166667
124          125  20.421053
125          126  20.684211
126          127  21.210526
127          128  21.368421
128          129  22.578947
129          130  23.105263
130          131  23.052632
131          132  23.578947
132          133  23.473684
133          134  23.473684
134          135  23.421053
135          136  23.789474
136          137  24.052632
137          138  24.894737
138          139  23.947368
139          140  24.000000
140          141  24.210526
141          142  23.578947
142          143  24.368421
143          144  24.684211
144          145  24.736842
145          146  25.210526
146          147  24.894737
147          148  25.842105
148          149  26.263158
149          150  26.473684
150          151  26.421053
151          152  27.578947
152          153  26.842105
153          154  28.333333
154          155  27.611111
155          156  27.722222
156          157  27.222222
157          158  27.833333
158          159  27.555556
159          160  26.777778
160          161  26.722222
161          162  27.631579
162          163  28.684211
163          164  29.526316
164          165  29.210526
165          166  29.157895
166          167  28.578947
167          168  28.789474
168          169  30.157895
169          170  31.052632
170          171  31.157895
171          172  31.736842
172          173  32.157895
173          174  32.526316
174          175  31.368421
175          176  31.388889
176          177  32.500000
177          178  32.368421
178          179  32.315789
179          180  32.368421
180          181  33.105263
181          182  31.684211
182          183  31.631579
183          184  31.157895
184          185  31.421053
185          186  32.105263
186          187  32.263158
187          188  32.631579
188          189  32.526316
189          190  32.210526
190          191  32.684211
191          192  33.421053
192          193  32.894737
193          194  32.684211
194          195  32.578947
195          196  32.631579
196          197  33.052632
197          198  33.000000
198          199  33.263158
199          200  32.684211
200          201  33.526316
201          202  33.894737
202          203  33.578947
203          204  33.315789
204          205  33.473684
205          206  34.000000
206          207  34.526316
207          208  32.894737
208          209  33.842105
209          210  33.736842
210          211  34.368421
211          212  34.894737
212          213  34.105263
213          214  33.000000
214          215  33.578947
215          216  33.631579
216          217  33.736842
217          218  33.105263
218          219  33.421053
219          220  32.210526
220          221  32.736842
221          222  32.894737
222          223  33.894737
223          224  33.736842
224          225  32.222222
225          226  32.722222
226          227  33.055556
227          228  31.222222
228          229  31.833333
229          230  32.222222
230          231  32.388889
231          232  32.833333
232          233  32.777778
233          234  32.333333
234          235  32.526316
235          236  32.222222
236          237  32.055556
237          238  32.055556
238          239  31.944444
239          240  31.473684
240          241  31.555556
241          242  31.944444
242          243  31.222222
243          244  30.611111
244          245  30.473684
245          246  30.526316
246          247  30.263158
247          248  29.947368
248          249  29.631579
249          250  28.684211
250          251  29.684211
251          252  30.210526
252          253  30.105263
253          254  29.578947
254          255  29.421053
255          256  28.789474
256          257  27.684211
257          258  27.684211
258          259  27.947368
259          260  26.473684
260          261  25.684211
261          262  26.526316
262          263  27.157895
263          264  26.578947
264          265  26.263158
265          266  25.684211
266          267  25.842105
267          268  25.368421
268          269  24.842105
269          270  24.684211
270          271  23.947368
271          272  23.631579
272          273  23.894737
273          274  24.000000
274          275  24.526316
275          276  24.157895
276          277  23.684211
277          278  23.526316
278          279  23.947368
279          280  23.368421
280          281  22.894737
281          282  22.736842
282          283  22.631579
283          284  22.473684
284          285  21.894737
285          286  20.263158
286          287  20.947368
287          288  20.736842
288          289  21.368421
289          290  20.631579
290          291  20.631579
291          292  20.000000
292          293  18.842105
293          294  19.000000
294          295  18.947368
295          296  18.947368
296          297  19.421053
297          298  19.000000
298          299  19.157895
299          300  19.736842
300          301  20.315789
301          302  20.000000
302          303  18.526316
303          304  17.947368
304          305  17.947368
305          306  16.789474
306          307  16.473684
307          308  15.157895
308          309  15.473684
309          310  17.105263
310          311  16.368421
311          312  15.947368
312          313  15.315789
313          314  16.000000
314          315  16.052632
315          316  15.157895
316          317  14.894737
317          318  13.894737
318          319  13.263158
319          320  13.157895
320          321  13.052632
321          322  14.000000
322          323  14.052632
323          324  14.368421
324          325  13.157895
325          326  13.263158
326          327  13.052632
327          328  13.000000
328          329  12.789474
329          330  11.842105
330          331  12.105263
331          332  11.842105
332          333  11.052632
333          334  12.157895
334          335  10.894737
335          336  11.263158
336          337  11.421053
337          338  10.947368
338          339  11.684211
339          340  12.421053
340          341  10.947368
341          342  11.052632
342          343  10.842105
343          344  11.315789
344          345  10.421053
345          346  11.263158
346          347  11.368421
347          348  11.578947
348          349  10.526316
349          350  10.263158
350          351  11.105263
351          352  10.526316
352          353  10.473684
353          354  10.842105
354          355  10.578947
355          356  11.052632
356          357  10.736842
357          358  10.947368
358          359  11.210526
359          360  10.421053
360          361  10.421053
361          362   9.473684
362          363   9.736842
363          364  10.210526
364          365  10.368421
365          366   9.000000

---
- **b.** Кількість днів у кожному році з туманом.
---

In [99]:
print(weather_df['Events'].unique())

[nan 'Rain' 'Rain-Snow' 'Snow' 'Fog' 'Fog-Rain' 'Rain-Thunderstorm'
 'Thunderstorm' 'Rain-Hail-Thunderstorm' 'Fog-Thunderstorm' 'Tornado'
 'Fog-Rain-Thunderstorm' 'Fog-Rain-Snow' 'Fog-Snow'
 'Rain-Snow-Thunderstorm' 'Rain-Hail']

In [101]:
fog_df = weather_df[weather_df['Events'].str.contains('Fog', na=False)]
fog_df_by_years = fog_df.groupby(['year'])['Events'].count().reset_index()
fog_df_by_years

    year  Events
0   1997      27
1   1998      17
2   1999      17
3   2000      15
4   2001      13
5   2002      29
6   2003      14
7   2004      10
8   2005       8
9   2006      11
10  2007      20
11  2008      13
12  2009      14
13  2010      17
14  2011      21
15  2012      16
16  2013      14
17  2014      17
18  2015      16