# Лабораторна робота №1. Використання бібліотек Pandas та Matplotlib

**Підгрупа №1** 

**Дані:** Дані знаходяться у файлі `Weather.csv`

## Завдання

1. Відкрити та зчитати файл з даними.
2. Визначити та вивести кількість записів та кількість полів у кожному записі.
3. Вивести 5 записів, починаючи з **М-ого** (число **М** – місяць народження студента, має бути визначено як змінна), та кожен **N-ий запис**, де число **N** визначається як:
   - **500 * М** для місяця з першого півріччя;
   - **300 * М** для місяця з другого півріччя.
4. Визначити та вивести тип полів кожного запису.
5. Замість поля `СЕТ` ввести нові текстові поля, що відповідають числу, місяцю та року. Місяць та число повинні бути записані у двоцифровому форматі.
6. Визначити та вивести:
   - **a.** Кількість днів із порожнім значенням поля `Events`;
   - **b.** День, у який середня вологість була мінімальною, а також швидкості вітру в цей день;
   - **c.** Місяці, коли середня температура від нуля до п’яти градусів.
7. Визначити та вивести:
   - **a.** Середню максимальну температуру по кожному дню за всі роки;
   - **b.** Кількість днів у кожному році з туманом.
8. Побудувати стовпчикову діаграму кількості `Events`.
9. Побудувати кругову діаграму напрямків вітру (сектор на діаграмі має відповідати одному з восьми напрямків – північний, південний, східний, західний та проміжні).
10. Побудувати на одному графіку (тип графіка обрати самостійно!):
    - **a.** Середню по кожному місяцю кожного року максимальну температуру;
    - **b.** Середню по кожному місяцю кожного року мінімальну точку роси.

---
## 1. Відкрити та зчитати файл з даними.

In [1]:
import pandas as pd
from pathlib import Path

file_path = Path('data') / 'Weather.csv'
weather_df = pd.read_csv(file_path)
weather_df.head()

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997-1-2,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997-1-3,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997-1-4,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997-1-5,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2

---
## 2. Визначити та вивести кількість записів та кількість полів у кожному записі.

---
##### DataFrame Dimensions with `.shape`

Метод **`df.shape`** повертає кортеж, що містить розміри DataFrame:

- **Перший елемент**: Кількість рядків (записів)
- **Другий елемент**: Кількість стовпців (полів)
---

In [2]:
num_records = weather_df.shape[0] # к-сть записів (рядків)
num_columns = weather_df.shape[1] # к-сть полів (стовців)

print(f'кількість записів: {num_records}')
print(f'кількість полів  : {num_columns}')

кількість записів: 6812
кількість полів  : 23

---
## 3. Вивести 5 записів
Вивести 5 записів, починаючи з **М-ого** (число **М** – місяць народження студента, має бути визначено як змінна), та кожен **N-ий запис**, де число **N** визначається як:
   - **500 * М** для місяця з першого півріччя;
   - **300 * М** для місяця з другого півріччя.

---
##### Позиційне зрізання з `df.iloc[start:stop:step]`

Синтаксис **`df.iloc[start:stop:step]`** дозволяє вибирати рядки з DataFrame за їх позиційними індексами

- **`start`**: Початковий індекс рядка (включно). Якщо не вказати, зріз починається з першого рядка.
- **`stop`**: Кінцевий індекс рядка (не включно). Якщо не вказати, зріз триває до кінця DataFrame.
- **`step`**: Крок зрізу, тобто інтервал між вибраними рядками. За замовчуванням дорівнює 1.

---

In [3]:
# виведення перших 5 записів, починаючи з M
M = 11
weather_df.iloc[M:].head(5)

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
11,1997-1-12,17.0,10.0,3.0,8.0,6.0,3.0,100.0,84.0,55.0,...,10.0,10.0,10.0,14,8,NaN,0.0,1.0,NaN,345
12,1997-1-13,15.0,9.0,4.0,9.0,4.0,-1.0,100.0,75.0,38.0,...,10.0,9.0,3.0,11,2,NaN,0.0,4.0,Fog,128
13,1997-1-14,11.0,6.0,0.0,4.0,2.0,0.0,100.0,81.0,50.0,...,10.0,9.0,1.0,14,2,NaN,0.0,4.0,NaN,35
14,1997-1-15,11.0,8.0,5.0,7.0,5.0,4.0,100.0,83.0,62.0,...,10.0,10.0,8.0,10,3,NaN,0.0,6.0,Rain,16
15,1997-1-16,12.0,9.0,6.0,8.0,7.0,6.0,100.0,89.0,72.0,...,10.0,10.0,10.0,24,5,NaN,0.0,6.0,NaN,63

In [4]:
# виведення кожного N-го запису
count_month_in_year = 12
if M <= count_month_in_year / 2:
    N = 500 * M
else:
    N = 300 * M

weather_df.iloc[::N]

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
3300,2006-5-21,28.0,20.0,13.0,7.0,4.0,-3.0,67.0,38.0,17.0,...,10.0,10.0,10.0,32,10,52.0,0.0,6.0,NaN,227
6600,2015-6-3,34.0,26.0,17.0,10.0,8.0,4.0,59.0,31.0,10.0,...,31.0,24.0,10.0,24,10,34.0,0.0,1.0,NaN,127

---
## 4. Визначити та вивести тип полів кожного запису.

---

**`df.dtypes`** — атрибут DataFrame з Pandas, що повертає типи даних кожного стовпця у вигляді Series:

- **Індекси**: назви стовпців.
- **Значення**: типи даних (наприклад, `int64`, `float64`, `object`).

---

In [5]:
weather_df.dtypes

CET                             object
Max TemperatureC               float64
Mean TemperatureC              float64
Min TemperatureC               float64
Dew PointC                     float64
MeanDew PointC                 float64
Min DewpointC                  float64
Max Humidity                   float64
 Mean Humidity                 float64
 Min Humidity                  float64
 Max Sea Level PressurehPa       int64
 Mean Sea Level PressurehPa      int64
 Min Sea Level PressurehPa       int64
 Max VisibilityKm              float64
 Mean VisibilityKm             float64
 Min VisibilitykM              float64
 Max Wind SpeedKm/h              int64
 Mean Wind SpeedKm/h             int64
 Max Gust SpeedKm/h            float64
Precipitationmm                float64
 CloudCover                    float64
 Events                         object
WindDirDegrees                   int64
dtype: object

---
## 5. Розбиття поля `СЕТ`
Замість поля `СЕТ` ввести нові текстові поля, що відповідають числу, місяцю та року. Місяць та число повинні бути записані у двоцифровому форматі.

In [6]:
weather_df[['year', 'month', 'day']] = weather_df['CET'].str.split('-', expand=True)
weather_df.drop(columns='CET', inplace=True)
new_order = ['year', 'month', 'day'] + [col for col in weather_df.columns if col not in ['year', 'month', 'day']]
weather_df = weather_df[new_order]
weather_df.head()

,year,month,day,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997,1,1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,...,10.0,9.0,4.0,13,6,NaN,0.0,6.0,NaN,229
1,1997,1,2,7.0,3.0,0.0,6.0,3.0,0.0,100.0,...,10.0,9.0,4.0,26,8,47.0,0.0,5.0,Rain,143
2,1997,1,3,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,...,10.0,10.0,7.0,27,19,NaN,0.0,6.0,Rain-Snow,256
3,1997,1,4,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,...,10.0,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284
4,1997,1,5,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,...,10.0,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2